﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @*<title>@ViewData["Title"]</title>*@
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <!-- <script src="~/js/site.js"/> -->
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Values/Index" class="navbar-brand">Главная</a></li>
                    <li><a href="~/Values/Buy" class="navbar-brand">Купить</a></li>
                    <li><a href="~/Values/About" class="navbar-brand">О магазине</a></li>
                </ul>
                <!--Кнопка входа-->
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn btn-sm btn-lg" id="login"><span class="glyphicon glyphicon-log-in"></span> Войти</button></li>
                </ul>
                <!--Modal window-->
                @*<div class="modal fade" id="modal" role="dialog">
                    <div class="modal-dialog">
                        <!--Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4><span class="glyphicon glyphicon-lock"></span> Вход</h4>
                            </div>
                            <div class="modal-body" style="padding:40px 50px">
                                <!--Форма логирования-->
                                <form method="post" role="form">
                                    <div class="form-group">
                                        <label for="username"><span class="glyphicon glyphicon-user"></span> Имя пользователя</label>
                                        <input type="text" class="form-control" id="username" placeholder="Введите почту" />
                                    </div>
                                    <div class="form-group">
                                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Пароль</label>
                                        <input type="password" class="form-control" id="psw" placeholder="Введите пароль" />
                                    </div>
                                    <!--Кнопка войти в модальном окне-->
                                    <button type="submit" class="btn btn-success btn-block" id="ok"><span class="glyphicon glyphicon-off"></span> Войти</button>
                                </form>
                            </div>
                            <div class="modal-footer" style="padding: 40px 50px">
                                <button type="submit" class="btn btn-danger btn-block" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>*@ <!--End Modal Window-->
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->
    </div>
    <footer class= "panel-footer">
        <p>© 2017-2018 - CoffeeShop</p>
    </footer>
    <link rel="stylesheet" href="~/css/site.css" />
</body>
</html>