﻿@model BlackBullStore.Models.ViewModels.LoginModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Вход";
}
<h2>Вход на сайт</h2>
<a asp-action="Register" asp-controller="Account">Регистрация</a>
<form asp-action="Login">

</form>

