﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<BlackBullStore.Models.Blend>

@{
    @using System;
    string st = DateTime.Now.ToString().Replace(".", string.Empty).Replace(":", string.Empty).Replace(" ", string.Empty);
    Layout = "_Layout";
    ViewData["Title"] = "Заказ";
    int totalCost = 0;
            }

        <form method="post" class="order">
            <ul>
                <li>
                    <h2>BlackBull</h2>
                    <span class="notification">* обязательные поля для заполнения</span>
                </li>
                <li>
                    <input readonly disabled value="Total: $@totalCost" />
                </li>
                <li>
                    <label for="OrderID">Order ID</label>
                    <input name="OrderNumber" readonly disabled value=@st />
                </li>
                <li>
                    <label for="Email">Email</label>
                    <input name="Email" required placeholder="somemail@something.com" />
                    <span class="hint">Правильный формат somemail@something.com</span>
                </li>
                <li>
                    <label for="Mobile">Mobile</label>
                    <input name="MobileNumber" required pattern="(^0+((3{1}9{1}|5{1}0{1}|6{1}3{1}|6{1}7{1}|6{1}6{1}|6{1}9{1}|6{1}8{1})|(9{1}[1-9]{1}))+[0-9]{7}$)" />
                    <span class="hint">Правильный формат 039, 050, 063, 067, 068, 069, 091-099</span>
                </li>
                <li>
                    <input type="checkbox" name="delivery" />
                    <label for="delivery">delivery ($1)</label>
                </li>
                <li>
                    <label for="Address">Address</label>
                    <input name="Address" required />
                </li>     <!--*https://html5up.net-->
            </ul><br />
            <div class="row">
                @foreach (var Blend in Model)
                {
                    <div class="col-sm-4">
                        <input type="number" name="Id" hidden value="@Blend.Id" />
                        <label class="labelName" name="Name">@Blend.Name</label>
                        <label class="labelCost" name="Cost">@Blend.Cost $</label>
                        <input type="number" value="0" min="0" max="100" name="Quantity" style="width:100px" />
                    </div>
                }
            </div>
            <p>
                <input class="button" type="submit" value="Checkout" />
            </p>
        </form>
