﻿*:focus {
    outline: none;
}
.modal-header, h4, .close {
    background-color:darkgray;
    color: white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: grey;
}
body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    background-image:url(/images/kofe-22.jpg);
}
.order h2, .order label {
    font-family: Georgia, Times, "Times New Roman", serif;
}
.hint, .notification {
    font-size: 11px;
}
.order ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}
.order li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.order li:first-child, order li:last-child {
    border-bottom: 1px solid #777;
}
.order h2 {
    margin: 0;
    display: inline;
}
.notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}
.order label {
    width: 90px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}
.order input {
    height: 26px;
    width: 220px;
    padding: 5px 8px;
}
.order input {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 5px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.order input:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    /*padding-right: 70px;*/
}
.order input:required {
    background: #fff url(/images/red_asterisk.png) no-repeat 98% center;
}
.order input:required:valid {
    background: #fff url(/images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.order input:focus:invalid {
    background: #fff url(/images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.hint:before {
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}
.order input:focus + .hint {display: inline;}
.order input:required:valid + .hint {background: #28921f;}
.order input:required:valid + .hint:before {color: #28921f;}
.button {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
.button:hover {
    opacity: .85;
    cursor: pointer;
}
.button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
.panel-footer {
    position: fixed;
    bottom: 0px;
    width: 1000px;
}
/*p {
    width: auto;
    height: auto;
    float: left;
}*/